In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Data Cleaning

In [59]:
housing =pd.DataFrame(pd.read_csv('FINAL_clean_sales_dataset.csv',low_memory=False))
housing.drop(['source', 'facades_number'], axis=1, inplace=True)

In [60]:
housing[['house_is', 'equipped_kitchen_has','furnished','open_fire','terrace','garden','swimming_pool_has']]=df[['house_is', 'equipped_kitchen_has','furnished','open_fire','terrace','garden','swimming_pool_has']].astype('int')

In [53]:
housing.drop_duplicates()

,postcode,house_is,property_subtype,price,rooms_number,area,equipped_kitchen_has,furnished,open_fire,terrace,terrace_area,garden,garden_area,land_surface,swimming_pool_has,region,building_state_agg
0,4180,1,MIXED_USE_BUILDING,295000.0,3.0,242.0,1,0,0,1,36.0,1,1000.0,1403.0,0,W,good
1,8730,1,VILLA,675000.0,4.0,349.0,1,0,0,0,0.0,1,977.0,1526.0,0,F,good
2,4020,1,APARTMENT_BLOCK,250000.0,5.0,303.0,1,0,0,0,0.0,0,0.0,760.0,0,W,to_renovate
3,1200,1,HOUSE,545000.0,4.0,235.0,1,1,0,0,0.0,0,0.0,63.0,0,B,renovated
4,1190,1,MIXED_USE_BUILDING,500000.0,2.0,220.0,1,0,0,0,0.0,1,60.0,193.0,0,B,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11283,8790,0,APARTMENT,250000.0,1.0,300.0,0,0,0,0,0.0,0,0.0,0.0,0,F,good
11284,2018,0,APARTMENT,298000.0,1.0,71.0,1,0,0,1,12.0,0,0.0,0.0,0,F,good
11285,2610,0,APARTMENT,1500000.0,10.0,520.0,1,0,0,0,0.0,1,72.0,0.0,0,F,good
11286,2000,0,FLAT_STUDIO,150000.0,1.0,40.0,1,0,0,0,0.0,0,0.0,0.0,0,F,to_renovate
11287,2060,0,APARTMENT,228009.0,2.0,80.0,1,0,0,0,0.0,0,0.0,0.0,0,F,good

In [54]:
housing.to_csv("Data_for_Regression.csv", index=False)

# Data Inspection

In [55]:
housing.shape

(11288, 17)

In [56]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11288 entries, 0 to 11287
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   postcode              11288 non-null  int64
 1   house_is              11288 non-null  int64
 2   property_subtype      11288 non-null  object
 3   price                 11288 non-null  float64
 4   rooms_number          11288 non-null  float64
 5   area                  11288 non-null  float64
 6   equipped_kitchen_has  11288 non-null  int64
 7   furnished             11288 non-null  int64
 8   open_fire             11288 non-null  int64
 9   terrace               11288 non-null  int64
 10  terrace_area          11288 non-null  float64
 11  garden                11288 non-null  int64
 12  garden_area           11288 non-null  float64
 13  land_surface          11288 non-null  float64
 14  swimming_pool_has     11288 non-null  int64
 15  region                11288 non-null  object
 16  building_state_agg    11288 non-null  object
dtypes: float64(6), int64(8), object(3)
memory usage: 1.5+ MB

In [57]:
housing.describe()

,postcode,house_is,price,rooms_number,area,equipped_kitchen_has,furnished,open_fire,terrace,terrace_area,garden,garden_area,land_surface,swimming_pool_has
count,11288.000000,11288.000000,1.128800e+04,11288.000000,11288.000000,11288.000000,11288.000000,11288.000000,11288.000000,11288.000000,11288.000000,11288.000000,1.128800e+04,11288.000000
mean,4857.760454,0.537562,4.927968e+05,3.199947,195.134036,0.836641,0.037296,0.064670,0.671775,12.608965,0.221297,230.076364,8.396805e+02,0.032247
std,3181.093932,0.498609,5.676955e+05,3.786751,219.598588,0.369710,0.189495,0.245954,0.469588,28.274838,0.415138,2053.797648,1.368982e+04,0.176662
min,1000.000000,0.000000,2.500000e+04,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,1420.000000,0.000000,2.250000e+05,2.000000,97.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
50%,4420.000000,1.000000,3.290000e+05,3.000000,146.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
75%,8300.000000,1.000000,5.300000e+05,4.000000,227.000000,1.000000,0.000000,0.000000,1.000000,15.000000,0.000000,0.000000,4.220000e+02,0.000000
max,9992.000000,1.000000,1.500000e+07,204.000000,9250.000000,1.000000,1.000000,1.000000,1.000000,708.000000,1.000000,94000.000000,1.379000e+06,1.000000

In [61]:
# Checking Null values
housing.isnull().sum()*100/housing.shape[0]
# There are no NULL values in the dataset, hence it is clean.

postcode                0.0
house_is                0.0
property_subtype        0.0
price                   0.0
rooms_number            0.0
area                    0.0
equipped_kitchen_has    0.0
furnished               0.0
open_fire               0.0
terrace                 0.0
terrace_area            0.0
garden                  0.0
garden_area             0.0
land_surface            0.0
swimming_pool_has       0.0
region                  0.0
building_state_agg      0.0
dtype: float64